.App {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.base-app {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  height: fit-content;
  min-height: 100vh;
}
.star-rating {
  display: inline-flex; /* Arrange stars horizontally */
  font-size: 2rem; /* Adjust star size */
  cursor: pointer; /* Make it clickable */
}

.star {
  color: #ccc; /* Default star color (unfilled) */
  transition: color 0.2s; /* Smooth color transition */
}

.star.filled {
  color: gold; /* Filled star color */
}

/* Optional: Style on hover */
.star:hover {
  color: orange;
}
/* Base scrollbar settings */
.custom-scroll {
  overflow-y: auto;
}

/* Scrollbar Track */
.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222; /* Dark gray track */
  padding: 2px;
}

/* Scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 14px;
  background-color: #F5F5F5;
  padding: 2px;
}

/* Scrollbar Thumb */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #444; /* Light gray thumb */
  border-radius: 10px; /* Rounded thumb */
  border: 4px solid #222; /* Optional: Adds spacing effect */
  width: 10px;
}

/* Hover Effect */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Darker shade of light gray on hover */
}
